<h1>Calculo de Média</h1>
<h1>Vamos Calcular a Média Utilizando uma Calculadora</h1>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img  src="assets/img/kisspng-calculator-3d-circle-android-calculator-5ab71dcdd3c1a4.7105792815219501578674.jpg">
     </div>
    </div>
  </div>
</div>



<div class="Form-NomeAluno">
    <label for="Form-NomeAluno">Nome do Aluno: </label>
      <input type="text" class="Form-NomeAluno" id="form-nomeAluno" placeholder="">

  <div class="form-codigoRMA">
        <label for="form-codigoRMA">Registro do Aluno:</label>
          <input type="text" class="form-codigoRMA" id="form-CodigoRMA"placeholder="">"
   </div>

   <div class="row">
     <div class="col">
       <label for="number">Insira 1º Nota</label>
        <input type="number" class="form=control" placeholder="">
      </div>
    </div>

    <div class="=row">
      <div class="col">
        <label for="number">Insira 2º Nota</label>
           <input type="number" class="form-control" placeholder="">
               validade: {{datavalidade | date: 'shortDate'}}

           </div>
         </div>
       </div>
<router-outlet></router-outlet>
